<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!-- Title --><title>
		Sata Fenitriniaina
		</title>

		<!-- Favicon -->
		<link rel="icon" href="{{ asset('img/core-img/favicon.ico') }}"> <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/classy-nav.css') }}">
		<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">

	</head>

	<body>
		<!-- ##### Header Area Start ##### -->
		<header
			class="header-area" id="top">
			<!-- Navbar Area -->
			<div class="nikki-main-menu">
				<div class="classy-nav-container breakpoint-off">
					<div
						class="container-fluid">
						<!-- Menu -->
						<nav
							class="classy-navbar justify-content-between" id="nikkiNav">

							<!-- Nav brand -->
							<a href="#" class="nav-brand">
								<h2>Sata</h2>
							</a>

							<!-- Navbar Toggler -->
							<div class="classy-navbar-toggler">
								<span class="navbarToggler">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</div>

							<!-- Menu -->
							<div
								class="classy-menu">

								<!-- close btn -->
								<div class="classycloseIcon">
									<div class="cross-wrap">
										<span class="top"></span>
										<span class="bottom"></span>
									</div>
								</div>

								<!-- Nav Start -->
								<div class="classynav">
									<ul>
										<li>
											<a href="#top">Accueil</a>
										</li>
										<li>
											<a href="#portfolio">Port folio</a>
										</li>
										<li>
											<a href="#competance">Compétance</a>
										</li>
										<li>
											<a href="#techno">Techno</a>
										</li>
										<li>
											<a href="#contact">Contact</a>
										</li>
									</ul>

									<!-- Social Button -->
									<div class="top-social-info">
										<a href="https://www.facebook.com/fenitriniaina.andrianarisata/" data-toggle="tooltip" data-placement="bottom" title="Facebook">
											<i class="fa fa-facebook" aria-hidden="true"></i>
										</a>
										<a href="https://www.linkedin.com/in/fenitriniaina-andrianarisata-513552173/" data-toggle="tooltip" data-placement="bottom" title="Linked In">
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</a>
                                        <a href="https://join.skype.com/invite/ASVAAeJC5p7Z" data-toggle="tooltip" data-placement="bottom" title="skype">
											<i class="fa fa-skype" aria-hidden="true"></i>
										</a>
									</div>

								</div>
								<!-- Nav End -->
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!-- ##### Header Area End ##### -->

		<!-- ##### Hero Area Start ##### -->
		<section
			class="hero-area">
			<!-- Preloader -->
			<div class="preloader d-flex align-items-center justify-content-center">
				<div class="circle-preloader">
					<div class="a" style="--n: 5;">
						<div class="dot" style="--i: 0;"></div>
						<div class="dot" style="--i: 1;"></div>
						<div class="dot" style="--i: 2;"></div>
						<div class="dot" style="--i: 3;"></div>
						<div class="dot" style="--i: 4;"></div>
					</div>
				</div>
			</div>

			<div
				class="hero-post-slides owl-carousel">

				<!-- Single Hero Post -->
				<div
					class="single-hero-post d-flex flex-wrap">
					<!-- Post Thumbnail -->
					<div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(img/my_image/formateur2.jpg);"></div>
					<!-- Post Content -->
					<div class="slide-post-content h-100 d-flex align-items-center">
						<div class="slide-post-text">
							<p class="post-date" data-animation="fadeIn" data-delay="100ms">Depuis Novembre 2018</p>
							<a href="#" class="post-title" data-animation="fadeIn" data-delay="300ms">
								<h2>Formateur en développement web</h2>
							</a>
							<p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">
								Former des jeunes nouveaux bacheliers, des adultes qui ont l'envie d'opter sur les metiers du web. Donner le meilleur, le maximum possible pour que les étudiants puissent comprendre comment un site ou application web peut se mettre debout de a à z.
							</p>
							<a href="#" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Lire plus</a>
						</div>
						<!-- Page Count -->
						<div class="page-count"></div>
					</div>
				</div>

				<!-- Single Hero Post -->
				<div
					class="single-hero-post d-flex flex-wrap">
					<!-- Post Thumbnail -->
					<div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(img/my_image/mac.jpg);"></div>
					<!-- Post Content -->
					<div class="slide-post-content h-100 d-flex align-items-center">
						<div class="slide-post-text">
							<p class="post-date" data-animation="fadeIn" data-delay="100ms">Depuis Mai 2018</p>
							<a href="#" class="post-title" data-animation="fadeIn" data-delay="300ms">
								<h2>Switcher du dev JAVA en structure de donnée vers du dev web sous PHP</h2>
							</a>
							<p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">
								La marchée du dev web a pris plus d'importance et est dévenue la clée de réussite pour les autodidacts qui veulent travailler en freelance.
							</p>
							<a href="#" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Lire plus</a>
						</div>
						<!-- Page Count -->
						<div class="page-count"></div>
					</div>
				</div>

				<!-- Single Hero Post -->
				<div
					class="single-hero-post d-flex flex-wrap">
					<!-- Post Thumbnail -->
					<div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(img/my_image/frameworks.png);"></div>
					<!-- Post Content -->
					<div class="slide-post-content h-100 d-flex align-items-center">
						<div class="slide-post-text">
							<p class="post-date" data-animation="fadeIn" data-delay="100ms">Depuis Mars 2020</p>
							<a href="#" class="post-title" data-animation="fadeIn" data-delay="300ms">
								<h2>Opter vers un contrat de travail plus sûr, durable dans le domaine du dev</h2>
							</a>
							<p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">J'ai choisi de travailler dans un entreprise qui n'est pas trop dans le cadre d'entreprise "ESN" mais comme tout opportuniste je n'arrête jamais de viser encore plus haut pour bâtir un avenir encore plus meilleur</p>
							<a href="#" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Lire plus</a>
						</div>
						<!-- Page Count -->
						<div class="page-count"></div>
					</div>
				</div>

			</div>
		</section>

		<section class="blog-content-area section-padding-100" id="portfolio">
			<div
				class="container">
				<!-- start portfolio -->
				<h3 class="h3_title">Portfolio</h3>

				<div class="row justify-content-center">
					<div class="col-12 col-lg-4">
						<div class="porf">
							<div class="capture_port">
								<a href="#">
									<img src="img/my_image/tranombarotra.PNG" class="img img-responsive" alt="crud app gestin portefeuille">
								</a>
							</div>
							<p class="sous_titre">
								Application web
							</p>
							<div class="small_desc">
								<p>
									Une application de gestion de paiement de marchandise. Cette application automatise les différentes tâches répétitives du gérant de l'entreprise.
								</p>
							</div>
							<div class="visit">
								<a href="tranombarotra.satagroup.mg">Aller sur le site</a>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-4">
						<div class="porf">
							<div class="capture_port">
								<a href="#">
									<img src="img/my_image/nirinfo.PNG" class="img img-responsive" alt="crud app gestin portefeuille">
								</a>
							</div>
							<p class="sous_titre">
								site web
							</p>
							<div class="small_desc">
								<p>
									Un site vitrine pour l'entreprise Nir'info. Un ancien collaborateur dans le domaine de formation professionnelle en dev web.
								</p>
							</div>
							<div class="visit">
								<a href="nirinfo.mg">Aller sur le site</a>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-4">
						<div class="porf">
							<div class="capture_port">
								<a href="#">
									<img src="img/my_image/sounds.PNG" class="img img-responsive" alt="crud app gestin portefeuille">
								</a>
							</div>
							<p class="sous_titre">
								application web
							</p>
							<div class="small_desc">
								<p>
									Cette application aide beaucoup des gérants d'hôtel au sein du groupe où je travaille actuellement à se communiquer entre eux. Pour des détails financières, des plans d'étude commercial et surtout économique.
								</p>
							</div>
							<div class="visit">
								<a href="dashboardsounds.com">Aller sur le site</a>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-4">
						<div class="porf">
							<div class="capture_port">
								<a href="#">
									<img src="img/my_image/comato.PNG" class="img img-responsive" alt="crud app gestin portefeuille">
								</a>
							</div>
							<p class="sous_titre">
								site web
							</p>
							<div class="small_desc">
								<p>
									un site web pour les divers services portuaires du groupe d'entreprise 'ENAC'
								</p>
							</div>
							<div class="visit">
								<a href="comagroupe.com">Aller sur le site</a>
							</div>
						</div>
					</div>


				</div>
			</div>
		</section>

		<!-- compétance -->
		<section class="blog-content-area section-padding-100" id="competance">
			<div
				class="container">
				<!-- start portfolio -->
				<h3 class="h3_title">Compétance</h3>

				<div class="row justify-content-center">
					<div class="col-12 col-lg-12">
						<div class="sub_title">
							<h3>Formateur en développent web</h3>
						</div>
						<div class="content_comp">
							<div class="comp">
								<div class="comp_image img_simple">
									<img src="img/my_image/formateur2.jpg" class="img img-responsive" alt="fomateur2">
								</div>
							</div>
							<div class="comp">
								<div class="comp_description">
									<p>
                                        Depuis 2018 jusqu'à maintenant, je n'arrête pas d'enseigner tout ce je sais sur le monde du développement web.
                                        J'enseigne le web design, utilisant photoshop, les langages informatiques tels que le HTML, CSS et un premier pas vers le monde du framework boostrap.
                                        Puis le développement Front-end avec javascript et enfin le PHP qui est devenu mon langage de programmation préféré.
                                    </p>
								</div>
								<div class="link_contact">
									<a href="#contact">Me contacter</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-12">
						<div class="sub_title" style="margin-top: 50px;">
							<h3>Développeur web &amp; Formateur</h3>
						</div>
						<div class="content_comp">
							<div class="comp demi_comp">
								<div class="comp_description">
									<p style="padding-right:15px; padding-left:0 !important;">
										Un autre passion un peu plus évidente que d'apprendre au gens la programmation informatique, j'ai aussi un très bon feeling sur la réalisation; que ce soit un site web ou application; sur mesure ou selon un cahier de charge déjà défini. Pour moi c'est une passion qui engendre un challenge à chaque fois que mes clients me demadent des services.
									</p>
								</div>
								<div class="link_contact link_contact_2">
									<a href="#contact">Me contacter</a>
								</div>
							</div>
							<section class="demi_comp">
								<div class="comp">
									<div class="comp_image img_double">
										<img src="img/my_image/formateur.jpg" class="img img-responsive double2 img-thumbnail" alt="fomateur2">
									</div>
								</div>
							</section>

						</div>
					</div>
				</div>
			</div>

		</section>
		<!-- techno -->

		<section class="blog-content-area section-padding-100" id="techno">
			<div
				class="container">
				<!-- start portfolio -->
				<h3 class="h3_title">Techno</h3>

				<div class="row justify-content-center">
					<section class="block_techno">
						<div class="techno">
							<div class="unite_tecno">
								<img src="img/my_image/html.jpg" alt="html">
							</div>
							<div class="techno_desc">
								<p>
									HTML pour le contenu du site
								</p>
							</div>
						</div>
						<div class="techno">
							<div class="unite_tecno">
								<img src="img/my_image/bootstrap.jpg" alt="html">
							</div>
							<div class="techno_desc">
								<p>
									Bootstrap pour accélérer un peu la réalisation du système de grille
								</p>
							</div>
						</div>
						<div class="techno">
							<div class="unite_tecno">
								<img src="img/my_image/sass.png" alt="html">
							</div>
							<div class="techno_desc">
								<p>
									SASS pour le style du contenu
								</p>
							</div>
						</div>
						<div class="techno">
							<div class="unite_tecno">
								<img src="img/my_image/js.jpg" alt="html">
							</div>
							<div class="techno_desc">
								<p>
									Javascript pour animer les éléments html
								</p>
							</div>
						</div>
						<div class="techno">
							<div class="unite_tecno">
								<img src="img/my_image/vue.jpg" alt="html">
							</div>
							<div class="techno_desc">
								<p>
									Vue.js si on veut réaliser un site en "single page"
								</p>
							</div>
						</div>
						<div class="techno">
							<div class="unite_tecno">
								<img src="img/my_image/php_logo.jpg" alt="html">
							</div>
							<div class="techno_desc">
								<p>
									PHP, mon langage informatique préféré pour le dev backend
								</p>
							</div>
						</div>
						<div class="techno">
							<div class="unite_tecno">
								<img src="img/my_image/sf.jpg" alt="html">
							</div>
							<div class="techno_desc">
								<p>
									Symfony, pour un maximum de rigueur avec php
								</p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>

		<!-- contact -->
		<section class="blog-content-area section-padding-100" id="contact">
			<div
				class="container">
				<!-- start portfolio -->
				<h3 class="h3_title">Me contacter</h3>
				<form action="" class="row justify-content-center" id="form-contact">
					<div class="col-lg-6">
						<div class="input_content">
							<div class="form-group">
								<label for="nom">Votre nom *</label>
								<input type="text" class="form-control" id="nom" placeholder="Votre nom ou votre établissement">
							</div>
							<div class="form-group">
								<label for="mail">Votre adresse mail *</label>
								<input type="text" class="form-control" id="mail" placeholder="Votre adresse mail">
							</div>
							<div class="form-group">
								<label for="phone">Votre numero phone (non obligatoir)</label>
								<input type="text" id="phone" class="form-control" placeholder="Numero téléphone">
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="input_content">
							<div class="form-group">
								<label for="message">Votre message *</label>
								<textarea class="form-control" placeholder="Ecrire ici votre message" name="" id="message" cols="30" rows="15"></textarea>
							</div>
                            <div class="info" style="display:none">
                                <p class="justify-content-start align-items-center" 
                                style="display:flex ;padding-left:15px; color:13px; height : 35px;"></p>
                            </div>
							<div class="form-group">
								<button class="btn btn-warning btn-md" id="sendMail">
									<span>Envoyer</span>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		<!-- ##### Footer Area Start ##### -->
		<footer class="footer-area">
			<div class="container">
				<div class="row">
					<div
						class="col-12">
						<!-- Footer Social Info -->
						<div class="footer-social-info d-flex align-items-center justify-content-center">
							<p style="color:#fff;">ANDRIANARISATA FENITRINIAINA <br> Développeur web et formateur en développement web</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12"></div>
				</div>
			</div>
		</footer>
		<!-- ##### Footer Area Start ##### -->

		<!-- ##### All Javascript Script ##### -->
		<!-- jQuery-2.2.4 js --><script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"> </script>
		<!-- Popper js -->
		<script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
		<!-- Bootstrap js -->
		<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
		<!-- All Plugins js -->
		<script src="{{ asset('js/plugins/plugins.js') }}"></script>
		<!-- Active js -->
		<script src="{{ asset('js/active.js') }}"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
            $(document).ready(function(){
                const sr = ScrollReveal();
                sr.reveal('.h3_title', {
                    origin : 'top',
                    duration : 2000,
                    distance : "50px",
                }); //
                sr.reveal('.comp_description', {
                    origin : 'bottom',
                    duration : 1500,
                    distance : "50px",
                });  

                sr.reveal('.link_contact', {
                    origin : 'bottom',
                    duration : 1500,
                    distance : "50px",
                    delay : 500,
                }); 

                sr.reveal('.img_double', {
                    origin : 'right',
                    duration : 1500,
                    distance : "50px",
                   
                }); 
                sr.reveal('.img_simple', {
                    origin : 'left',
                    duration : 1500,
                    distance : "50px",
                    
                }); //

                sr.reveal('.unite_tecno', {
                    origin : 'bottom',
                    duration : 1500,
                    distance : "50px",
                    
                });
                sr.reveal('.techno_desc', {
                    origin : 'bottom',
                    duration : 1500,
                    distance : "50px",
                    delay : 500,    
                    
                });

                $("#scrollDown").on('click', function() {
                    $('html, body').animate({
                        scrollTop: $("#about").offset().top - 85
                    }, 1500);
                });

                $('a').on('click', function(ev) {
                    ev.preventDefault();
                    var target = $(this).attr('href').replaceAll("#", "");
                   if(target !=""){
                        $('html, body').animate({
                            scrollTop: $("#" + target).offset().top - 85
                        }, 1500);
                   }
                });

                $('.form-control').keyup(function(){
                    $(".info").fadeOut("slow");
                })

                $("#sendMail").click(function(ev){
                    ev.preventDefault();
                    var email  =  $("#mail").val();
                    var num = $("#phone").val();
                    var nom = $("#nom").val();
                    var message = $("#message").val();
                    var data = {
                        "email" : email,
                        "nom" : nom,
                        "phone" : num,
                        "message" : message
                    }
                    $.ajax({
                        url : "{{ path('home') }}",
                        type : "POST",
                        data : data,
                        dataType : "html",
                        beforeSend : function(){
                            $("#sendMail span").text('Patienter ...');
                        },
                        success : function(response){
                            if(response == "ok"){
                                $(".info p").text('Votre email a bien été envoyé, merci');
                                $("#sendMail span").text('Envoyer');
                                $(".info").fadeIn("slow");
                            }
                            else{
                                $(".info p").text(response);
                                $("#sendMail span").text('Envoyer');
                                $(".info").fadeIn("slow");
                            }
                        }, 
                        error : function(){
                            console.log("error en mail");
                        }
                    })

                })
            })
        </script>
	</body>

</html>
